/* @import url(http://fonts.googleapis.com/css?family=Raleway);
@import "skeleton";
 */

body {
  min-height: 100%;
}

.topbar {
  background-color: #03A9F4;
  width: 100%;
  height: 8px;
}

header {
  

  //color: #f4f4f4;
  //background-color: #03A9F4;
  width: 100%;
  padding: 20px;
  vertical-align: middle;
  
  h1 {
    text-align: left;
    font-weight: 600;
    float: left;
  }
  @media (max-width:400px) {
    .logo {
      @extend .center-block;
    }
  }
  

  nav {
    padding-top: 20px;
    text-align: right;
    float: right;
    
/*     .dropdown-menu {
      font-size: 2.5rem;
      left: -250px;
      width: 300px;
    } */
  }
}

.navlist li {
  display: inline;
  padding: 5px;
}


main {
  .row {
    padding-top: 40px;
  }
  
  .carousel {
    -webkit-box-shadow: 1px 3px 8px 0 #999;
    -moz-box-shadow: 1px 3px 8px 0 #999;
    box-shadow: 1px 3px 8px 0 #999;
  }
  
  .carousel img {
    width: 1200px;
  }
  
  .call-to-action {
    padding-top: 40px;
    text-align: center;
    
    .btn {
      -webkit-box-shadow: 1px 3px 6px 0 #999;
      -moz-box-shadow: 1px 3px 6px 0 #999;
      box-shadow: 1px 3px 6px 0 #999;
    }
  }
  
  .features {
    text-align: center;
    
    .music-icon,
    .cart-icon,
    .repair-icon {
      width: 80px;
      height: 80px;
      border-radius: 40px;
      margin: 0 auto;
      background-color: #333;
      //vertical-align: middle;
      margin-top: 50px;
      margin-bottom: 30px;
    }
    
    span {
      color: #fff;
      line-height: 80px;
      font-size: 40px;
    }
    
    //margin-bottom: 100px;
  }
  
  .about {
    min-height: 600px;
    
    .about-image {
      margin-bottom: 40px;
    }
  }
  
  .hours {
    margin: 0 auto;
    max-width: 500px;
    margin-bottom: 40px;
  }
  
  .image-divider {
    height: 300px;
    width: 100%;
    background-image: url("http://static.wixstatic.com/media/f38551_d51804e5419b4db7ba45110c6b337295.jpg_srz_p_925_270_75_22_0.50_1.20_0.00_jpg_srz");
    background-size: cover;
    
    -webkit-box-shadow: 0 0 6px 2px #999;
    -moz-box-shadow: 0 0 6px 2px #999;
    box-shadow: 0 0 6px 2px #999;
    
    margin-bottom: 20px;
  }
  
  .rates {
    table {
      font-size: 0.9em;
    }
    
    .asterisk {
      color: #F44336;
    }
  }
  
  .contact {
    margin-bottom: 60px;
  }
  
  .contact-map { 
    position: relative;
    height: 360px;
    //width: 100%;

    iframe {
      display: block;
      position: relative;
      z-index: 1;
    }
    
    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      -moz-box-shadow:    inset  0  8px 8px -8px #696868, 
                          inset  0 -8px 8px -8px #696868;
      -webkit-box-shadow: inset  0  8px 8px -8px #696868, 
                          inset  0 -8px 8px -8px #696868;
       box-shadow:        inset  0  8px 8px -8px #696868, 
                          inset  0 -8px 8px -8px #696868;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
    }
  }  
}


footer {
  

  .footer {
    margin-top: 80px;
    background-color: #03A9F4;
    height: 60px;

  }

  .bottombar {
    background-color: #0288D1;
    color: #fff;
    padding: 10px;

    span {
      //margin: 10px;
    }
  }
}