.container
  .row
    h1.text-center #{title}
    hr
  .row
    .col-sm-12
      p Born and raised in Orlando, FL, Brandy Wood is a passionate music performer and teacher. With eighteen years experience on bassoon and twenty three on piano, she is a well-educated and enthusiastic asset to her students. From 2003-2009, Brandy attended Florida State University and Florida Southern College as a Bassoon Performance Major, and studied piano for most of her college career as well.
      p Brandy has taught private bassoon lessons (all levels) and piano lessons (beginner to intermediate) for the last 5 years. She adores teaching music just as much as she loves playing it! She believes that music education is essential for the development and balance of all children, and enjoys making lessons fun and productive for them. Brandy hopes her influence will instill a life-long love of music in all her students.
      p In addition, Brandy has extensive classical and wind literature experience playing in wind ensemble, symphony orchestra, chamber ensemble, woodwind quintet, and solo bassoon performance. Some of the groups Brandy has performed with on the bassoon are the Florida Symphony Youth Orchestra, Florida All-State Band, National Youth Orchestra Festival, Orlando Philharmonic, Florida State University Band and Orchestra, Valdosta Symphony Orchestra, Florida Southern College Band and Orchestra, the Orlando Concert Band, and the Rollins College Wind Ensemble.
    br
  .row
    .col-sm-6
      img.center-block.img-responsive.ez-shadow(src="http://static.wixstatic.com/media/f38551_2f43d04e9c794796a7068331559ede2d.jpeg_srz_p_463_347_75_22_0.50_1.20_0.00_jpeg_srz" alt="Brandy bein' cool")
      br
    .col-sm-6
      img.center-block.img-responsive.ez-shadow(src="http://static.wixstatic.com/media/f38551_7d85bed645bf4566b81493a1769e5fc5.jpeg_srz_p_311_415_75_22_0.50_1.20_0.00_jpeg_srz" alt="Christopher bein' cool")
      br