.container
  .row
    h1.text-center #{title}
    hr
  .row
    .col-sm-6
      p Born in Norwalk, Connecticut in 1990 and raised in West Palm Beach, Florida. Chris started playing piano at age 7. For high school he attended Dreyfoos School of the Arts until he graduated in 2008. In that time, he crafted his skills in classical and jazz piano, music theory and knowledge of the synthesizer. His interests include funk, reggae, electronic, soul and blues. Chris' previous works include, The Kinected, Uncle Sam (Di Foreign Man) and Roots Shakedown.
    .col-sm-6
      img.center-block.img-responsive.ez-shadow(src="http://static.wixstatic.com/media/f38551_5881c364dd6ce16b8bc46d2026c98153.jpg_srz_p_460_390_75_22_0.50_1.20_0.00_jpg_srz" alt="Christopher bein' cool")
  br
  .row
    iframe.center-block.ez-shadow(width="100%", height="500" src="https://www.youtube.com/embed/_KbXrRQSCtU", frameborder="0", allowfullscreen="")