.container
  .row
    h1.text-center #{title}
    hr
    p Born in Maryland, at an early age Chris moved to Pine Island, FL.  Chris started playing guitar at age 10 and has been pursuing a career in music ever since.  While growing up on Pine Island he was exposed to blues/rock musicians and this influence is easily heard in his playing today.  Chris has been teaching Guitar in the Delray Beach area for over 5 years and recently founded SoFLo Music School.  He has been a major part of musical projects, including ARTIKaL Sound System, and Stampede Movement, and has also performed with prestigous reggae artists, such as Biggz General, RedLyte, Apple Gabriel and the Abyssinians.
    br
    img.center-block.img-responsive.img-rounded(src="http://static.wixstatic.com/media/f38551_1a465f3f2b01a4d450b410bbae801698.png_srz_p_310_391_75_22_0.50_1.20_0.00_png_srz" alt="Chris bein' cool")