.container
  .row
    h1.text-center #{title}
    hr
  .row
    .col-sm-6
      p Joaquim DeMiranda, known to friends and family as "Jack," is a central New Jersey transplant raised on blues and rock n' roll. Jack moved to Boca Raton for college at FAU in 2009 and has picked up many other instruments since. His interests include collecting vinyls of classic rock, garage, punk, funk, hip-hop, and indie rock. Recent projects include psych/rock band Buffalo Tux and his production moniker JoaquimD.
    .col-sm-6
      img.center-block.img-responsive.ez-shadow(src="http://static.wixstatic.com/media/f38551_0de0b7bc70ce4baa962e4f4ebf09e9eb.jpg_srz_p_400_300_75_22_0.50_1.20_0.00_jpg_srz" alt="Jack bein' cool")
      br
      img.center-block.img-responsive.ez-shadow(src="http://static.wixstatic.com/media/f38551_bac8da5e94e342858f265e73ca336fcb.jpg_srz_p_400_300_75_22_0.50_1.20_0.00_jpg_srz" alt="Jack bein' cool")