.container
  .row
    h1.text-center #{title}
    hr
  .row
    .col-sm-6
      p Lauren Huff is a recent graduate from Florida Atlantic University with a Bachelors of Science in Geology. 
      p Lauren has had a love for music from a very early age. When she was twelve years old she recieved her first instrument, a classical guitar, as a gift. From then on, she spent hours in her room teaching herself everything that she could. After taking a handful of private guitar lessons, she was forced to teach herself at home due to how far away the nearest music school was. She taught herself many different styles of music on the guitar, including rock, heavy metal, folk, blues, classic rock, and reggae.
      p During college, she picked up the bass guitar and ukulele, and began studying music theory. She started showing many of her friends how to play instruments as well, and realized that she loved teaching others just as much as she enjoyed teaching herself. 
      p Lauren and Chris Montague opened SoFLo Music School in July of 2013. They continue sharing their love and passion for music with people of all ages. 
      br
      img.center-block.img-responsive.ez-shadow(src="http://static.wixstatic.com/media/f38551_84a18eacd3f4499ca1993c16e9eca1b0.jpg_srz_p_400_300_75_22_0.50_1.20_0.00_jpg_srz" alt="Lauren bein' cool")
    .col-sm-6
      img.center-block.img-responsive.ez-shadow(src="http://static.wixstatic.com/media/f38551_4aa942c035164a5eac93ae2c1e9996a9.jpg_srz_p_400_403_75_22_0.50_1.20_0.00_jpg_srz" alt="Lauren bein' cool")
      br
      img.center-block.img-responsive.ez-shadow(src="http://static.wixstatic.com/media/f38551_1200970228d84d4689260c66cadfbd29.jpg_srz_p_400_300_75_22_0.50_1.20_0.00_jpg_srz" alt="Lauren bein' cool")
   br
