.container
  .row
    h1.text-center Hours and Rates
    hr

  .row.hours
    table.table
      thead
        tr
          td
            strong Hours of Operation
      tbody
        tr
          td Monday - Thursday
          td.text-right 12pm - 8pm
        tr
          td Friday
          td.text-right 12pm - 6pm
        tr
          td Saturday
          td.text-right 10am - 4pm

.image-divider

.container
  .row.rates
    .col-sm-4
      h3 Lesson Rates
      table.table
        tr
          td 30 Minute Trial Lesson
          td.text-right $20
        tr
          td 30 Minute Lesson
          td.text-right $25
        tr
          td 60 Minute Lesson
          td.text-right $50

    .col-sm-4
      h3 Lesson Bundles
      table.table
        tr
          td Four 30 Minute Lessons
          td.text-right $95
        tr
          td Four 60 Minute Lessons
          td.text-right $190

    .col-sm-4
      h3 Instrument Repair
      table.table
        tr
          td Guitar Restring
          td.text-right $5
            span.asterisk *
        tr
          td Restring and Cleaning
          td.text-right $10
            span.asterisk *
        tr
          td Guitar Setup
          td.text-right $85
            span.asterisk *
      .text-right
        small
          span.asterisk *
          | Does not include price of strings

  .call-to-action
      a(href="#{url}/contact").btn.btn-primary.btn-lg Schedule a Lesson Today  

  br
  hr
  small
    strong Scheduling Policies
    ul
      li All lessons must be paid for in advance
      li Rescheduling is only permitted with at least a 24 hour notice
      li Lessons that are cancelled without a 24 hour notice, as well as “No Shows”, are non-refundable
      li If SoFLo Music School cancels a lesson for any reason, a full refund or lesson credit will be given
      li Reminder texts are offered as a courtesy only.  If for any reason you do not receive a reminder you are still accountable for your scheduled lesson.
      li Lesson credits and prepaid lessons expire after 30 days of not being used
